/*
* GRID
*/

.gjs-dashed .wrapper,
.gjs-dashed [class*="grid"] {
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.gjs-dashed [class*="container"],
.gjs-dashed [class*="col"] {
    min-height: 75px !important;
}

.gjs-dashed [class*="container"] {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}