.grid {
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

[class*="col"] {
    min-height: 75px !important;
}