html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#pbApp {
    width: 100%;
    height: 100%;
}


/*
*   GRAPE JS 
*/

#gjs-pn-devices-c {
    z-index: 1;
    width: 85%;
}