/*
* GRID
*/

.gjs-dashed [class*="grid"],
.gjs-dashed section,
.gjs-dashed form,
.gjs-dashed form .form-dropzone {
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.gjs-dashed [class*="container"],
.gjs-dashed [class*="col"],
.gjs-dashed form .form-dropzone {
    min-height: 75px !important;
}

.gjs-dashed [class*="container"] {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.gjs-dashed [class*="container"] {
    padding-left: 10px;
    padding-right: 10px;
}

.gjs-dashed #wrapper:empty,
.gjs-dashed [class*="container"]:empty,
.gjs-dashed [class*="col"]:empty,
.gjs-dashed form .form-dropzone:empty {
    background-image: url(http://via.placeholder.com/350x75/ffffff?text=DROP+BLOCKS+HERE);
    background-position: center center;
    background-repeat: no-repeat;
}

.gjs-dashed [class*="container"]:empty,
.gjs-dashed [class*="col"]:empty,
.gjs-dashed form .form-dropzone:empty {
    background-size: contain;
    min-height: 200px;
}

.gjs-dashed hr {
    height: 5px;
}


/* Hidden Input */

input[data-hidden] {
    display: none !important;
}

.gjs-dashed input[type="hidden"],
.gjs-dashed input[data-hidden] {
    display: inline-block !important;
    border: 2px solid rgba(146, 23, 23, .5);
    background-color: rgba(146, 23, 23, 0.25);
    /* color: #fff !important; */
}