html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#pbApp {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}


/*
*   GRAPE JS 
*/

.gjs-clickable-blocks .gjs-block {
    cursor: pointer !important;
}

.gjs-clickable-blocks .gjs-block:hover,
.gjs-clickable-blocks .gjs-block:focus {
    border-color: #fff;
}


/** CANVAS **/


/* .gjs-cv-canvas {
    transition: all 0.15s;
} */

.gjs-pn-attributes-shown .gjs-cv-canvas {
    left: 15%;
    width: 70%;
}


/** VIEWS **/

#gjs-pn-views .gjs-pn-buttons {
    display: flex;
    flex-direction: row !important;
}

#gjs-pn-views .gjs-pn-buttons .gjs-pn-btn {
    flex: 1;
}


/** PANELS **/

.gjs-pn-active {
    color: #e01e48 !important;
}

#gjs-pn-devices-c {
    z-index: 1;
    width: 85%;
}

.gjs-clm-tags {
    display: none;
}


/** Asset Manager **/


/* 
.gjs-asset-manager .gjs-am-file-uploader,
.gjs-asset-manager .gjs-am-assets-header {
    display: none;
} */

.gjs-asset-manager .gjs-am-assets-cont {
    float: none;
    width: 100%;
}

.gjs-am-assets-cont {
    height: 425px;
}

.gjs-am-assets-cont .gjs-am-assets {
    height: 405px;
}

.gjs-am-asset.gjs-am-asset-image {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.gjs-am-asset.gjs-am-asset-image .gjs-am-preview-cont {
    width: 100%;
    height: 100px;
    float: none;
}

.gjs-am-asset.gjs-am-asset-image .gjs-am-meta {
    float: none;
    display: block;
    word-wrap: break-word;
    width: 100%;
}


/* Asset Manager Filters */

.gjs-am-add-asset .gjs-am-select-filters {
    display: flex;
    flex-direction: row;
}

.gjs-am-add-asset .gjs-am-select-filters>div {
    flex: 1;
    padding: 0 5px 10px;
}

.gjs-am-add-asset .gjs-am-select-filters>div:first-child {
    padding-left: 0;
}

.gjs-am-add-asset .gjs-am-select-filters>div:last-child {
    padding-right: 0;
}

.gjs-am-add-asset .gjs-fields .gjs-field {
    padding: 5px 0 5px 5px;
}

.gjs-am-add-asset .gjs-fields .gjs-field select {
    padding: 0;
}

.gjs-am-add-asset .gjs-fields .gjs-field select option {
    background-color: transparent;
}

.gjs-am-add-asset .gjs-sm-label {
    font-size: 12px;
    margin-bottom: 5px;
}


/* .gjs-am-asset.gjs-am-asset-image .gjs-am-close {
    display: none !important;
} */

#gjs-am-pager .gjs-am-pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}

#gjs-am-pager .gjs-am-pagination>li {
    display: inline-block;
}

#gjs-am-pager .gjs-am-pagination>li a {
    display: block;
    padding: 5px 8px;
    text-align: center;
}

#gjs-am-pager .gjs-am-pagination>li a.gjs-am-page-link {
    cursor: pointer;
}

#gjs-am-pager .gjs-am-pagination>li.active a {
    background-color: rgba(33, 33, 33, 0.2);
}


/** SETTINGS TRAITS **/

#gjs-pn-settings .gjs-trt-trait .gjs-field.gjs-field-checkbox {
    position: absolute;
    right: 15px;
}

#gjs-pn-settings .gjs-trt-trait .gjs-label {
    font-size: 14px;
}


/** MODALS **/

.gjs-mdl-dialog .gjs-mdl-header {
    padding: 15px !important;
}

.gjs-mdl-dialog .gjs-mdl-header .gjs-mdl-btn-close {
    top: 8px !important;
}

.gjs-import-label,
.CodeMirror-wrap {
    margin-bottom: 15px;
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}