html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#pbApp {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}


/*
*   GRAPE JS 
*/

.gjs-clickable-blocks .gjs-block {
    cursor: pointer !important;
}

.gjs-clickable-blocks .gjs-block:hover,
.gjs-clickable-blocks .gjs-block:focus {
    border-color: #fff;
}


/** CANVAS **/


/* .gjs-cv-canvas {
    transition: all 0.15s;
} */

.gjs-pn-attributes-shown .gjs-cv-canvas {
    left: 15%;
    width: 70%;
}


/** VIEWS **/

#gjs-pn-views .gjs-pn-buttons {
    display: flex;
    flex-direction: row !important;
}

#gjs-pn-views .gjs-pn-buttons .gjs-pn-btn {
    flex: 1;
}


/** PANELS **/

.gjs-pn-active {
    color: #e01e48 !important;
}

#gjs-pn-devices-c {
    z-index: 1;
    width: 85%;
}

.gjs-clm-tags {
    display: none;
}


/** Asset Manager **/

.gjs-asset-manager .gjs-am-file-uploader,
.gjs-asset-manager .gjs-am-assets-header {
    display: none;
}

.gjs-asset-manager .gjs-am-assets-cont {
    float: none;
    width: 100%;
}

.gjs-am-assets-cont {
    height: 425px;
}

.gjs-am-assets-cont .gjs-am-assets {
    height: 405px;
}

.gjs-am-asset.gjs-am-asset-image {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.gjs-am-asset.gjs-am-asset-image .gjs-am-preview-cont {
    width: 100%;
    height: 100px;
    float: none;
}

.gjs-am-asset.gjs-am-asset-image .gjs-am-meta {
    float: none;
    display: block;
    word-wrap: break-word;
    width: 100%;
}

.gjs-am-asset.gjs-am-asset-image .gjs-am-close {
    display: none !important;
}


/** SETTINGS TRAITS **/

#gjs-pn-settings .gjs-trt-trait .gjs-field.gjs-field-checkbox {
    position: absolute;
    right: 15px;
}

#gjs-pn-settings .gjs-trt-trait .gjs-label {
    font-size: 14px;
}


/** MODALS **/

.gjs-mdl-dialog .gjs-mdl-header {
    padding: 15px !important;
}

.gjs-mdl-dialog .gjs-mdl-header .gjs-mdl-btn-close {
    top: 8px !important;
}

.gjs-import-label,
.CodeMirror-wrap {
    margin-bottom: 15px;
}