/* Hidden Input */

input[data-hidden] {
    display: none !important;
}


/* Canvas GJS-DASHED */

.gjs-dashed {
    /* Add Padding */
    // - To make elements easily selectable.
    [class*="grid"],
    form,
    form .form-dropzone,
    div.table-wrapper {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    [class*="grid"][class*="-noGutter"],
    form,
    form .form-dropzone {
        margin-left: 0;
        margin-right: 0;
    }
    [class*="container"] {
        padding-left: 15px;
        padding-right: 15px;
    }
    [class*="grid"]:not([class*="-noGutter"]) {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    /* Add Placeholder */
    // - To show where to drop blocks when element empty
    label:empty,
    span:empty,
    p:empty,
    small:empty,
    cine:empty,
    h1:empty,
    h2:empty,
    h3:empty,
    h4:empty,
    h5:empty,
    h6:empty {
        min-height: 40px !important;
        background-image: url(http://via.placeholder.com/200x30/ffffff?text=ENTER+TEXT+HERE);
        background-position: center center;
        background-repeat: no-repeat;
    }
    i.empty-icon {
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('http://via.placeholder.com/16?text=i');
        background-position: center center;
        background-repeat: no-repeat;
    }
    div:empty:not(.gjs-css-rules):not(.gjs-js-cont),
    section:empty {
        background-image: url(http://via.placeholder.com/350x75/ffffff?text=DROP+BLOCKS+HERE);
        background-position: center center;
        background-repeat: no-repeat;
    }
    div[class*="grid"]:empty {
        background-image: url(http://via.placeholder.com/350x75/ffffff?text=DROP+COLUMNS+HERE) !important;
    }
    div:empty:not(#wrapper):not(.gjs-css-rules):not(.gjs-js-cont),
    section:empty {
        // background-color: #fff;
        background-size: contain;
        min-height: 75px;
    }
    /* Hidden Input */
    input[type="hidden"],
    input[data-hidden] {
        display: inline-block !important;
        border: 1px solid rgba(123, 123, 118, 0.5);
        background-color: rgba(202, 202, 202, 0.25);
        /* color: #fff !important; */
        opacity: 0.35;
    }
}